<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ClusterSrv.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
          <section name="ClusterLib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
      </configSections>
    <connectionStrings/>
  <applicationSettings>
    <ClusterLib.Properties.Settings>
      <setting name="CadenaConexion" serializeAs="String">
        <value>Server=localhost;Database=cd40;Uid=root;Pwd=U5K-G;</value>
      </setting>
      <setting name="Sistema" serializeAs="String">
        <value>departamento</value>
      </setting>
      <setting name="Idioma" serializeAs="String">
        <value>es</value>
      </setting>
    </ClusterLib.Properties.Settings>
  </applicationSettings>
  <userSettings>
        <ClusterSrv.Properties.Settings>
              <setting name="NodeId" serializeAs="String">
                    <value>Nodo 1</value>
              </setting>
              <setting name="Port" serializeAs="String">
                    <value>6000</value>
              </setting>
              <setting name="EpPort" serializeAs="String">
                    <value>6001</value>
              </setting>
              <setting name="ClusterIp1" serializeAs="String">
                    <value>10.12.90.99</value>
              </setting>
              <setting name="ClusterIp2" serializeAs="String">
                    <value>10.20.90.99</value>
              </setting>
              <setting name="ClusterMask1" serializeAs="String">
                    <value>255.255.255.0</value>
              </setting>
              <setting name="ClusterMask2" serializeAs="String">
                    <value>255.255.255.0</value>
              </setting>
              <setting name="Ip" serializeAs="String">
                    <value>192.168.0.1</value>
              </setting>
              <setting name="EpIp" serializeAs="String">
                    <value>192.168.0.1</value>
              </setting>
              <setting name="TimeToStart" serializeAs="String">
                    <value>10000</value>
              </setting>
              <setting name="AdapterIp2" serializeAs="String">
                    <value>10.20.90.1</value>
              </setting>
              <setting name="MaintenanceServerForTraps" serializeAs="String">
                    <value>192.168.0.129</value>
              </setting>
              <setting name="AdapterIp1" serializeAs="String">
                    <value>10.12.90.1</value>
              </setting>
              <setting name="AdapterIp3" serializeAs="String">
                    <value>10.21.94.1</value>
              </setting>
              <setting name="ClusterIp3" serializeAs="String">
                    <value>10.21.94.99</value>
              </setting>
              <setting name="ClusterMask3" serializeAs="String">
                    <value>255.255.255.0</value>
              </setting>
              <setting name="Tick" serializeAs="String">
                    <value>1000</value>
              </setting>
              <setting name="RemoteTimeout" serializeAs="String">
                    <value>5000</value>
              </setting>
        </ClusterSrv.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.505" newVersion="1.0.0.505"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
